<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="WatchUsDBEntities1" connectionString="metadata=res://*/WatchUs.csdl|res://*/WatchUs.ssdl|res://*/WatchUs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5005.Smarterasp.net;initial catalog=DB_9C0617_watchus;user id=DB_9C0617_watchus_admin;password=Welcome123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WatchUsEntities" connectionString="metadata=res://*/WatchUs.csdl|res://*/WatchUs.ssdl|res://*/WatchUs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5005.Smarterasp.net;initial catalog=DB_9C0617_watchus;persist security info=True;user id=DB_9C0617_watchus_admin;password=Welcome123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>